#container{
  background-image: url("formbackground.png");
  height: 568px;
  width: 420px;
  margin: auto;
}

form{
  height: 550px;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
}

#screen{
  grid-column: 1/5;
}

input:nth-of-type(19){
  grid-column: 4/5;
}
