
body{
  background-image: url("images/Background.png");
}

.container{
  background-image: url("images/formbackground.png");
  height: 568px;
  width: 420px;
  display: grid;
  grid-template: 1fr auto 1fr;
  grid-template-rows: 60px 85px 340px 10px;
  margin: 50px auto auto auto;
  justify-content: center;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-column-gap: 20px;
  grid-column: 2/4;
  align-content: center;
}

#screen{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 85px;
  font-size: 55px;
  background-image: url("images/Screen.png");
  width: 283px;
  height: 79px;
  grid-column: 1/5;
  margin: auto;
  overflow: hidden;
}

input{
  font-size: 20px;
  font-style: 'CMU';
  color: white;
  height: 47px;
  width: 52px;
  border: none;
  outline: none;
  background-repeat: no-repeat;
}

.lightButton{
  background-image: url("images/StandardButtonLight.png");
}

.darkButton{
  background-image: url("images/DarkBlue.png");
}

.dividerButton{
  border-top-left-radius: 30px;
  background-image: url("images/DividerButton.png");
}

#clearButton{
  border-top-right-radius: 30px;
  background-image: url("images/ClearButton.png");
}

#zeroButton{
  border-bottom-left-radius: 30px;
  background-image: url("images/ZeroButton.png")
}

#equalsButton{
  grid-column: 3/5;
  width: 130px;
  border-bottom-right-radius: 30px;
  background-image: url("images/equalsButton.png");
}
